.large-hero {
  background-color: #ebebeb;
  width: 100%;
  position: relative;

  &__text-content {
    position: absolute;
    top: 50%;
    transform: scale(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    color: $mainWhite;
  }

  &__title {
    font-weight: 700;
    margin: 0;
    font-size: 18px;

    @mixin atSmall {
      font-size: 24px;
    }

    @mixin atMedium {
      font-size: 32px;
    }

    @mixin atLarge {
      font-size: 40px;
    }
  }

  &__subtitle {
    font-weight: 300;
    font-size: 15px;
    color: #ccc;

    @mixin atSmall {
      font-size: 20px;
    }
  }

  &__description {
    color: #aaa;
    font-size: 15px;
  }
}





