.site-header {
  position: absolute;
  padding: 10px 0;
  z-index: 2;
  width: 100%;
  background-color: rgba($mainBlue, 0.3);

  &__btn-container {
    float: right;
  }

  &__logo {
    position: absolute;
    top: 0;
  }
}